@charset "UTF-8";
#pkdv a {
  text-decoration: none;
}
#pkdv img {
  margin: 0 auto;
}
#pkdv .swiper {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}
#pkdv .swiper-pagination-bullets {
  bottom: 25px;
}
@media (min-width: 1200px) {
  #pkdv .swiper-pagination-bullets {
    bottom: 15px;
  }
}
#pkdv .swiper-button-next:after, #pkdv .swiper-button-prev:after {
  color: #cccccc;
  font-size: 2em;
}
#pkdv .swiper-pagination-bullet {
  width: 30px;
  height: 3px;
  border-radius: 0;
  background: #cccccc;
  opacity: 0.7;
}
#pkdv .swiper-pagination-bullet-active {
  background: #256C53;
}
#pkdv .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #ffffff;
}
#pkdv .swiper-img {
  display: block;
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}
#pkdv .swiper-BN3-item-txt {
  position: absolute;
  top: calc(50% - 52px);
  left: calc(50% - 125px);
  width: 250px;
  padding: 30px 0;
  font-size: 2em;
  color: white;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
}
#pkdv .swiper-BN3-item:hover .swiper-BN3-item-txt {
  border-color: white;
}
#pkdv .swiper-BN3-item:hover .swiper-img {
  -webkit-filter: brightness(1.5);
}
#pkdv .pkNew {
  position: relative;
  margin: 10px 0 50px;
  padding: 20px 10px 0;
  background-position: -22px 0;
  background-repeat-x: repeat;
}
@media (min-width: 992px) {
  #pkdv .pkNew {
    display: flex;
    padding: 20px 0 0;
  }
}
#pkdv .pkNew-title {
  margin-top: 30px;
  display: flex;
  align-items: end;
  justify-content: center;
  font-size: 2em;
  font-family: "微軟正黑體", "新細明體", futuramedium, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
#pkdv .pkNew-title-img {
  width: 50px;
  margin: 0 10px;
}
#pkdv .pkNew-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
#pkdv .pkNew-list:first-child {
  padding: 20px;
  margin-bottom: 12px;
  border: 1px solid #888888;
  border-radius: 20px;
}
#pkdv .pkNew-list:first-child:hover {
  box-shadow: 0 0 5px 0 #b3b3b3;
}
@media (min-width: 992px) {
  #pkdv .pkNew-list:last-child {
    padding-left: 40px;
  }
}
#pkdv .pkNew-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  font: 1em "微軟正黑體", "新細明體", futuramedium, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 0.9em;
  font-weight: 600;
  color: #256C53;
}
#pkdv .pkNew-item:hover {
  color: gray;
}
#pkdv .pkNew-item-name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  box-sizing: border-box;
}
#pkdv .pkNew-item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 5px;
  width: 5px;
  height: 22px;
  background: #256C53;
}
#pkdv .pkNew-item time {
  padding-left: 20px;
  color: #1a1a1a;
  font-weight: normal;
  font-size: 0.7em;
}
#pkdv .pkNew-more {
  width: 120px;
  margin: 20px auto 0;
  padding: 2px;
  font-size: 1em;
  border: 1px solid #256C53;
  border-radius: 50px;
  color: #256C53;
  text-align: center;
}
#pkdv .pkNew-more:hover {
  color: white;
  background: #256C53;
}
#pkdv .pkNew-more i {
  display: inline-block;
  transform: rotate(37deg);
}
@media (min-width: 992px) {
  #pkdv .pkNew-more {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  #pkdv .pkBrand {
    background: linear-gradient(to right, #4DA9A0 50%, #2C6753 50%);
    -pie-background: linear-gradient(to right, #4DA9A0 50%, #2C6753 50%);
    behavior: url(/pie/PIE.htc);
  }
}
#pkdv .pkBrand-title {
  position: relative;
  font-size: 3.125em;
  font-family: futuramedium, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  opacity: 0.8;
  text-align: center;
}
@media (min-width: 1200px) {
  #pkdv .pkBrand-title {
    text-align: right;
  }
  #pkdv .pkBrand-title:first-child {
    padding-right: 60px;
  }
  #pkdv .pkBrand-title:first-child::before {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background: white;
    position: absolute;
    right: 100px;
    bottom: -10px;
    opacity: 0.5;
  }
}
#pkdv .pkBrand-title:nth-child(2) {
  font-size: 5em;
  opacity: 0.5;
  font-weight: 900;
  line-height: 1.2em;
}
@media (min-width: 1200px) {
  #pkdv .pkBrand-title:nth-child(2) {
    font-size: 10em;
  }
}
#pkdv .pkBrand-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  padding: 15px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4196078431);
  text-align: center;
}
@media (min-width: 768px) {
  #pkdv .pkBrand-logo {
    width: 230px;
    height: 230px;
  }
}
#pkdv .pkBrand-logo-group {
  display: flex;
  justify-content: center;
}
@media (min-width: 1200px) {
  #pkdv .pkBrand-logo-group {
    display: block;
  }
}
#pkdv .pkBrand-logo-img.industry {
  max-width: 100%;
}
#pkdv .pkBrand-logo-img.science {
  max-width: 85%;
}
#pkdv .pkBrand-logo:last-child {
  position: relative;
  left: -20px;
}
#pkdv .pkBrand-bgImg {
  position: relative;
  overflow: hidden;
}
#pkdv .pkBrand-bgImg::before {
  content: "";
  background: url(../images/brandBg.svg) no-repeat;
  width: 461px;
  height: 455px;
  position: absolute;
  right: calc(50% + 481px);
  top: calc(50% - 225px);
}
#pkdv .pkBrand-bgImg::after {
  content: "";
  background: url(../images/brandBg2.svg) no-repeat;
  width: 486px;
  height: 528px;
  position: absolute;
  left: calc(50% + 496px);
  top: calc(50% - 225px);
}
#pkdv .pkBrand-left {
  margin: 50px 40px;
  padding: 20px 0;
  font: 1em "微軟正黑體", "新細明體", futuramedium, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 2em;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  color: white;
}
@media (min-width: 1200px) {
  #pkdv .pkBrand-left {
    margin: 100px 120px 100px 0;
    padding: 20px 0;
  }
}
#pkdv .pkBrand-left-bgColor {
  background: #4DA9A0;
}
@media (min-width: 1200px) {
  #pkdv .pkBrand-left-bgColor {
    background: none;
  }
}
#pkdv .pkBrand-right {
  padding: 50px 20px;
}
@media (min-width: 1200px) {
  #pkdv .pkBrand-right {
    padding: 100px 0 80px 50px;
  }
}
#pkdv .pkBrand-right-bgColor {
  background: #2C6753;
}
@media (min-width: 1200px) {
  #pkdv .pkBrand-right-bgColor {
    background: none;
  }
}
#pkdv .pkProposal {
  padding-bottom: 50px;
  text-align: center;
}
#pkdv .pkProposal-title {
  margin: 50px 0 10px;
  font-size: 2.25em;
  font-family: "微軟正黑體", "新細明體", futuramedium, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
#pkdv .pkProposal-item {
  display: inline-block;
  margin: 10px;
  padding: 15px 40px;
  font: 1.25em "微軟正黑體", "新細明體", futuramedium, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1em;
  background: #3E8C7D;
  color: white;
  width: 33.3333333333%;
}
@media (min-width: 992px) {
  #pkdv .pkProposal-item {
    width: 20%;
  }
}
@media (min-width: 1200px) {
  #pkdv .pkProposal-item {
    width: inherit;
    min-width: calc(16.6666666667% - 30px);
  }
}
#pkdv .pkProdects {
  margin: 25px 0;
  padding: 25px 0;
  font-family: "微軟正黑體", "新細明體", futuramedium, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}
#pkdv .pkProdects:nth-of-type(even) {
  background: #E3EBEB;
}
#pkdv .pkProdects:last-of-type {
  margin-bottom: 0;
}
#pkdv .pkProdects-title {
  margin-bottom: 10px;
  font-size: 2em;
  font-weight: 600;
}
#pkdv .pkProdects-clsList {
  margin-bottom: 10px;
}
#pkdv .pkProdects-clsList-item, #pkdv .pkProdects-clsList-more {
  display: inline-flex;
  padding: 10px;
  font-size: 1em;
  font-weight: 600;
}
#pkdv .pkProdects-clsList-item.industry, #pkdv .pkProdects-clsList-more.industry {
  color: #256C53;
}
#pkdv .pkProdects-clsList-item.science, #pkdv .pkProdects-clsList-more.science {
  color: #0097DA;
}
#pkdv .pkProdects-clsList-item:hover, #pkdv .pkProdects-clsList-more:hover {
  color: #0d0d0d;
}
#pkdv .pkProdects-clsList-more {
  margin-top: 20px;
  padding: 15px 30px;
  border: 1px solid currentColor;
  border-radius: 30px;
}
@media (min-width: 1200px) {
  #pkdv .pkProdects-clsList-more {
    position: absolute;
    right: 0;
    margin: 0;
  }
}
#pkdv .pkProdects-clsList-active {
  color: #0d0d0d;
}
#pkdv .pkProdects-item {
  margin: 20px 10px 0;
  padding: 20px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  border-width: 1px;
  border-style: solid;
  background: white;
}
@media (min-width: 1200px) {
  #pkdv .pkProdects-item {
    margin: 0 20px 40px;
  }
}
#pkdv .pkProdects-item:hover {
  box-shadow: 0 0 5px 0 currentColor;
}
#pkdv .pkProdects-banner {
  padding: 0 10px;
}
@media (min-width: 1200px) {
  #pkdv .pkProdects-banner {
    padding: 0 10px 0 0;
  }
}
#pkdv .pkProdects-banner img {
  overflow: hidden;
  border-radius: 40px;
}/*# sourceMappingURL=pk-index.css.map */