@charset "UTF-8";
#pkdv .breadcrumb {
  margin: 0;
  padding: 30px 0;
  font: 1em "微軟正黑體", "新細明體", futuramedium, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1em;
  background: none;
}
#pkdv .breadcrumb > li {
  display: inline-block;
}
#pkdv .breadcrumb > li + li:before {
  padding: 0 5px;
  content: "/";
  color: #7c7c7c;
}
#pkdv .breadcrumb-link {
  text-decoration: none;
  color: #7c7c7c;
}
#pkdv .breadcrumb-active {
  color: #373737;
}
#pkdv .pagination {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 45px 0;
  text-align: right;
  font: 0.9em "微軟正黑體", "新細明體", futuramedium, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1em;
}
@media (min-width: 1200px) {
  #pkdv .pagination {
    justify-content: flex-end;
  }
}
#pkdv .pagination-icon {
  font-style: normal;
  transform: scaleY(1.5);
}
#pkdv .pagination-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0 3px;
  padding: 0;
  letter-spacing: -1;
  border: 1px solid #256C53;
  border-radius: 50%;
  color: #256C53;
  text-decoration: none;
}
#pkdv .pagination-btn:hover, #pkdv .pagination-btn:active, #pkdv .pagination-btn-active {
  background: #256C53;
  border: 1px solid #256C53;
  color: #ffffff;
}
#pkdv .dropdown {
  position: relative;
}
#pkdv .dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#pkdv .dropdown-btn-fill {
  border-radius: 10px;
  background: #83A186;
  color: white;
}
#pkdv .dropdown-btn-fill + .dropdown-menu {
  border-radius: 10px;
}
#pkdv .dropdown-btn-outline {
  border-radius: 0;
  border: 1px solid #83A186;
}
#pkdv .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  display: none;
  float: left;
  width: 100%;
  margin: 2px 0 0;
  padding: 5px 0;
  text-align: left;
  list-style: none;
  background-color: white;
  background-clip: padding-box;
  line-height: 1.25em;
  border: 1px solid #e6e6e6;
  border-radius: 0;
}
#pkdv .dropdown-item {
  display: block;
  padding: 3px 10px;
  clear: both;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
}
#pkdv .dropdown.open > .dropdown-menu {
  display: block;
}
#pkdv .dropdown .icon-arrowDownBlack {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url("../images/arrowDownBlack-icon.svg") no-repeat;
  background-size: contain;
  margin: 0 3px;
}
#pkdv .dropdown .icon-arrowDown {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url("../images/arrowDown-icon.svg") no-repeat;
  background-size: contain;
  margin: 0 3px;
}
@media (min-width: 1200px) {
  #pkdv .wiseman {
    padding: 0 0 0 30px;
    border-left: 1px solid #e6e6e6;
  }
}
@media (min-width: 1200px) {
  #pkdv .wiseman-list {
    display: flex;
  }
}
#pkdv .wiseman-container {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}
#pkdv .wiseman-articleImage {
  padding: 1em;
}
#pkdv .wiseman-articleInfobox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  direction: ltr;
  vertical-align: middle;
  padding-top: 0.7em;
  padding-bottom: 1.4em;
}
#pkdv .wiseman-articleTitle {
  font-size: 1.15em;
  font-weight: 800;
  color: #256C53;
}
#pkdv .wiseman-is-divider {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  height: 2px;
}
#pkdv .wiseman-articleDate {
  outline-color: #256C53;
  color: #256C53;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  flex: 0 0 45px;
  width: 45px;
  height: 45px;
  margin: 0 15px 0 0;
  padding: 5px;
  outline: 2px solid #256C53;
  text-align: center;
  line-height: 0.85em;
  font: 1em "微軟正黑體", "新細明體", futuramedium, "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  background-color: white;
  top: 2.5em;
  left: 2em;
}
@media (min-width: 1200px) {
  #pkdv .wiseman-articleDate {
    left: 0;
  }
}
#pkdv .sideMenuDate {
  margin-bottom: 50px;
  padding: 0 20px;
  font: 1em "微軟正黑體", "新細明體", futuramedium, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.2em;
}
@media (min-width: 1200px) {
  #pkdv .sideMenuDate {
    padding: 0;
  }
}
#pkdv .sideMenuDate-title {
  font-size: 1.1em;
  color: #6a6a6a;
}
#pkdv .sideMenuDate-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-bottom: 20px;
}
#pkdv .sideMenuDate-item:hover {
  color: #256C53;
}
#pkdv .sideMenuDate-content {
  margin: 20px 10px 0 0;
  padding: 0 20px 0 0;
}
#pkdv .sideMenuDate-content-title {
  line-height: 1.3em;
}
#pkdv .sideMenuDate-date {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  flex: 0 0 45px;
  width: 45px;
  height: 45px;
  margin: 0 15px 0 0;
  padding: 5px;
  outline: 2px solid white;
  text-align: center;
  line-height: 0.85em;
}
#pkdv .sideMenuDate-day {
  padding-top: 2px;
  font-size: 0.9em;
  font-family: futuramedium, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#pkdv .sideMenuDate-moon {
  font-size: 0.7em;
}
#pkdv .sideMenuDate-year {
  font-size: 0.7em;
}
#pkdv .sideMenuDate .sideMenuDate-style {
  outline-color: #256C53;
  color: #256C53;
}
#pkdv .sideMenuDate + .sideMenuDate {
  margin-bottom: 50px;
  padding: 0 20px;
  font: 1em "微軟正黑體", "新細明體", futuramedium, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.2em;
}
@media (min-width: 1200px) {
  #pkdv .sideMenuDate + .sideMenuDate {
    padding: 0;
  }
}
#pkdv .sideMenuDate + .sideMenuDate-title {
  font-size: 1.1em;
  color: #6a6a6a;
}
#pkdv .sideMenuDate + .sideMenuDate-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-bottom: 20px;
}
#pkdv .sideMenuDate + .sideMenuDate-item:hover {
  color: #256C53;
}
#pkdv .sideMenuDate + .sideMenuDate-content {
  margin: 20px 10px 0 0;
  padding: 0 20px 0 0;
}
#pkdv .sideMenuDate + .sideMenuDate-content-title {
  line-height: 1.3em;
}
#pkdv .sideMenuDate + .sideMenuDate-date {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  flex: 0 0 45px;
  width: 45px;
  height: 45px;
  margin: 0 15px 0 0;
  padding: 5px;
  outline: 2px solid white;
  text-align: center;
  line-height: 0.85em;
}
#pkdv .sideMenuDate + .sideMenuDate-day {
  padding-top: 2px;
  font-size: 0.9em;
  font-family: futuramedium, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#pkdv .sideMenuDate + .sideMenuDate-moon {
  font-size: 0.7em;
}
#pkdv .sideMenuDate + .sideMenuDate-year {
  font-size: 0.7em;
}
#pkdv .sideMenuDate + .sideMenuDate .sideMenuDate-style {
  outline-color: #0097DA;
  color: #0097DA;
}/*# sourceMappingURL=pk-wiseman.css.map */