@import _overlay
.pkHeader
  position: fixed
  width: 100%
  background: darken($WHITEcolor, 0%)
  +box-shadow(0 0 10px 0 darken(darken($WHITEcolor, 15%), 0%))
  z-index: $zindex-navbar
  @import _mainNAV
  @import _socialList
  @import _searchBar
  &-slogan
    padding: 8px
    font-size: $font-size-sm
    color: darken($WHITEcolor, 0%)
  &-logoBrands
    padding: 21px 0
    @media (min-width: $screen-sm)
      padding: 10px 0
  &-logoImg
    max-width: 100%
    max-height: 45px
    @media (min-width: $screen-sm)
      max-height: 60px
  &-mainMenu
    padding: 15px 0
  &-searchArea
    display: flex
    justify-content: flex-end
    padding: 25px 0
  &+.container-full, &+.container
    padding-top: 100px
    @media (min-width: $screen-sm)
      padding-top: 105px
    @media (min-width: $screen-lg)
      padding-top: 135px
