@import _overlay
.header
  position: fixed
  width: 100%
  background: darken($WHITEcolor, 0%)
  +box-shadow(0 0 10px 0 darken(darken($WHITEcolor, 15%), 0%))
  z-index: $zindex-navbar
  @import _mainNAV
  @import _socialList
  @import _search
  &-slogan
    padding: 8px
    font-size: $font-size-sm
    color: darken($WHITEcolor, 0%)
  &-logoBrands
    padding: 10px 0
  &-mainMenu
    padding: 15px 0
  &-searchBar
    display: flex
    padding: 25px 0
  &+.container-full, &+.container
    padding-top: 135px
