// 共用
.navbar
  position: relative
  a
    text-decoration: none

.mainNAV
  z-index: $zindex-navbar

// 手機版
@media (min-width: $screen-xxs) and (max-width: $screen-lg - 1px)
  .navbar
    margin: 0 auto
    button
      position: absolute
      top: calc(50% + 15px)
      right: 15px
  .mainNAV
    position: fixed
    left: -105%
    top: 0
    width: 85%
    +distanceMP(0,0)
    height: 100vh
    overflow-y: auto
    -webkit-overflow-scrolling: touch
    background: darken($WHITEcolor, 0%)
    +transition(all 1s)
    &-list
      position: relative
      width: 100%
      float: left
      +distanceMP(10px 0, 0 30px)
      +fontT
      color: darken($WHITEcolor, 100%)
      cursor: pointer
      &.nextLevel:after
        content: url(../images/arrowMenu-icon.svg)
        position: relative
        top: 5px
        display: inline-block
        width: 23px
        height: 23px
        margin-left: 15px
        +transition(all 0.2s)
        +transform-origin(50% 50%)
        // +transform(scale(0.8))
        // opacity: 0.8
      &:first-child
        margin-top: 30px
      @import _megaMENU
    &-list-inner
      &-top
        margin-top: 10px
        padding-top: 10px
        border-top: 1px solid darken($WHITEcolor, 20%)
    .js-mainNAV-in
      &:after
        +transform(rotate(-90deg))
      .megaMENU
        position: relative
        left: 0
        opacity: 1
        +box-shadow(none)
        +transition(all 0.1s)
        +transform(scale(1,1))
        .megaMENU-list
          padding: 10px 1rem
    &.topNav
      display: flex
      justify-content: flex-end
      position: relative
      left: 0
      height: auto
      background: none
      width: 100%
      text-align: right
      z-index: $zindex-floor
      .mainNAV-list
        margin: 10px 0
        border: 0
        font-size: 0
      .megaMENU
        position: relative
        margin: 0
        +transform(scale(1,1))
        opacity: 1
        width: calc(100% + 30px)
        &-list
          display: inline-block
          font-size: 14px
          &:not(&:last-child)
            border-right: 1px solid darken($WHITEcolor, 0%)
          a
            color: darken($WHITEcolor, 0%)

// PC
@media (min-width: $screen-lg)
  .navbar
    button
      display: none
  .mainNAV
    position: relative
    margin: 0
    height: auto
    &-list
      display: inline-block
      position: relative
      +distanceMP(10px 0,10px 12px 10px 0)
      +fontT(1.2em)
      letter-spacing: 0.05em
      vertical-align: bottom
      text-align: start
      cursor: pointer
      z-index: $zindex-navbar
      &:hover
        color: darken($WHITEcolor, 50%)
      @import _megaMENU
    .js-menu
      &:hover
        .megaMENU
          opacity: 1
          border: 1px solid darken($WHITEcolor, 19%)
          border-radius: 4px
          background: darken($WHITEcolor, 0%)
          z-index: $zindex-floor
          +transform(scale(1,1))
  .topNav
    display: flex
    justify-content: flex-end
    align-items: center
    z-index: $zindex-float
    .mainNAV-list
      height: inherit
      +distanceMP(8px 0,2px 8px)
      color: darken($WHITEcolor, 0%)
      font-size: $font-size-sm
      &>a
        color: darken($WHITEcolor, 0%)
      &:not(:last-of-type)
        &::after
          content: ""
          position: absolute
          right: 0
          top: 0px
          display: inline-block
          width: 1px
          height: 19px
          background: darken($WHITEcolor, 0%)
          opacity: 0.5
