// 手機版
@media (min-width: $screen-xxs) and (max-width: $screen-lg - 1px)
  .mainNAV-EN
    .mainNAV
      width: 85%
      &-list
        word-wrap: break-word
        word-spacing: 0.2em
        br
          display: none

// PC
@media (min-width: $screen-lg)
  .mainNAV-EN
    .mainNAV
      &-list
        height: 40px
        padding: 0px 12px 5px 0
        word-wrap: break-word
        &.align-center
          line-height: 40px
        .megaMENU
          top: 50px
