.pkCI
  &-background
    &-industry
      background-color: #005752
    &-science
      background-color: #009ADC
    &-lighten
      &-industry
        color: #1DAC4B
      &-science
        color: #66A8E3
  &-borderColor
    &-industry
      border-color: #005752
    &-science
      border-color: #009ADC
  &-color
    &-industry
      color: #005752
    &-science
      color: #009ADC
  &-hover-color
    &-industry
      &:hover
        color: #005752
    &-science
      &:hover
        color: #009ADC
