// 核心變數+混合設定
@import _variables
@import _minxins

#pkdv
  .classification
    @import _breadcrumb
    @import _BLB-ring
    @import _proList
    @import _pagination
    @import _dropdown

    @import _sideMenu
    .sideMenu
      @include sideMenu

    .icon-arrowBlack
      +icon(16px,16px,$icon-arrowBlack)
    .icon-cart
      +icon(16px,16px,$icon-cart)

    .iconTxt
      +iconTxt(48px, $right: 48px)

    .dropdown
      display: flex
      justify-content: center
      &-additional
        position: relative
        z-index: $zindex-navbar
      &-menu
        left: inherit
    .proList-img-xs-3,.proList-img-xs-4
      margin-top: 40px
